@import "~bulma/sass/utilities/initial-variables.sass";

.app-container {
  background: #F2F2F2;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ol {
  li {
    margin-bottom: 0.75rem;
  }
}

@mixin card {
  background: #fff;
  border-radius: 5px;
  padding: 1rem;
  ol {
    margin-left: 1rem;
  }
}

.card {
  @include card();
  margin-bottom: 1rem;
}

main {
  width: 100%;
  min-height: 437px;
  padding-bottom: 2rem;
}

nav {
  background: $blue;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

$breakpoint: 750px;

.flex-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem !important;
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
  @media (min-width: $breakpoint) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.sidebar {
  width: 100%;
  font-weight: bold;

  @media (min-width: $breakpoint) {
    width: 14.5rem;
    margin-left: 1rem;
  }
  > li {
    margin-bottom: 0.25rem;
    border-radius: 4px;
    > a {
      padding: 0 0 1.25rem 0;
      display: inline-block;
    }
    > a.active {
      color: $black;
    }
  }
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.nav-title {
  font-weight: bold;
  color: #fff;
  &:hover,
  &:focus {
    color: #fff;
    text-decoration: underline;
  }
}

.widget-container {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid $red;
}
