@import "~bulma/sass/utilities/initial-variables.sass";
body {
  margin: 1rem !important;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ol {
  li {
    margin-bottom: 0.75rem;
  }
}

main {
  max-width: 50rem;
}

.app-container {
  display: flex;
  flex-direction: column-reverse;
  @media (min-width: 800px) {
    display: flex;
    flex-direction: row;
  }
}

.sidebar {
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
  background: #f5f5f5;
  border-radius: 5px;
  @media (min-width: 800px) {
    margin-top: 0;
    width: 11rem;
    background: white;
    padding: 0;
  }
  margin-right: 3rem;
  > li {
    margin-bottom: 0.25rem;
    border-radius: 4px;
    > a {
      padding: 0.75rem 0;
      display: inline-block;
    }
    > a.active {
      color: $black;
    }
  }
}

.sidebar-title {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
  display: block;
}
