@import "~bulma/sass/utilities/initial-variables.sass";

.taskIndicator {
  display: flex;
  align-items: center;
  position: relative;
}

.taskIndicatorCheck {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 100px;
  border: 1px solid fade-out($blue, .6);
  margin-right: .5rem;
  &.checked {
    background-color: $blue;
  }
}

.checkmark {
  position: absolute;
  width:.95rem;
  left: 3px;
  top: 5px;
}
