@import "~bulma/sass/utilities/initial-variables.sass";

.taskIndicator {
  display: flex;
  align-items: center;
  position: relative;
}

.taskIndicatorCheck {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 100px;
  border: 1px solid fade-out($blue, 0.6);
  margin-right: 0.5rem;
  &.checked {
    background-color: $blue;
    &::after {
      color: white;
      position: absolute;
      content: "✓";
      left: 4px;
      top: 0px;
    }
  }
}
